body {
  margin: 0;
  font-family: Optima, sans-serif;
  background-color: #DBF3FA;
}

a {
  text-decoration: none;
}

p {
  text-align: left;
  margin-left: 15px;
}

h2 {
  text-align: center;
  margin-left: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#Browse {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Browse_header {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 45%;
  border: 3px dotted black;
  border-radius: 20px;
  background-color: #DBF3FA;
}

.FilterBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background-color: lightgrey;
}

.FilterBar_fieldset {
  display: flex;
  padding: 15px;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}

.FilterBar_label {
  display: flex;
  margin: 5px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  align-self: flex-start; /* TO-DO: Do we want it at the top or center?*/
}

.FilterBar_select {
  display: flex;
  width: fit-content;
  height: 60px;
}

.FilterBar_option {
  font-size: 16px;
  padding: 2px 10px 2px 2px;
  border-bottom: 1px solid black;
}

#NavBar {
  display: flex;
  width: 100%;
  min-height: 80px;
  background-color: #282c34;
}

.NavBar_header {
  display: flex;
  align-self: center;
  width: 90%;
  margin-left: 25px;
  color: white;
  font-size: 50px;
  background-color: #282c34;
}

.Header_Link:hover, .Header_Link:active, .Header_Link:visited {
  color: white;
}

.NavBar_linkContainer {
  display: flex;
  align-self: flex-end;
  margin: 0 0 15px 0;
  font-size: 20px;
}

.NavBar_link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0 10px;
  padding: 0 10px;
  color: white;
}

.NavBar_link:hover {
  color: lightblue;
}

#NewPet, #EditPet, #Login, #Signup, #Profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.NewPet_outerFieldset, .NewPet_innerFieldset, .EditPet_outerFieldset, .EditPet_innerFieldset, .Login_outerFieldset, .Login_innerFieldset, .Signup_outerFieldset, .Signup_innerFieldset, .Profile_outerFieldset, .Profile_innerFieldset, .ProfileCard_outerFieldset, .ProfileCard_innerFieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: #F5F5F5;
}

.Profile_innerFieldset, .ProfileCard_innerFieldset {
  width: 87%;
  height: 90%;
  border: 1px dotted black;
}

.Profile_outerFieldset, .ProfileCard_outerFieldset {
  width: 100%;
  height: 100%;
}

.NewPet_label, .EditPet_label, .Login_label, .Signup_label {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.NewPet_select, .EditPet_select, .Login_input, .Signup_input {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
  width: 200px;
}

.NewPet_option {
  display: flex;
  width: fit-content;
  font-size: 14px;
}

input[type=checkbox]{
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

textarea {
  width: 400px !important;
  height: 200px;
}

#Profile {
  width: 800px;
  height: fit-content;
}

.Profile_item li {
  list-style-type: square;
}

#ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 800px;
  max-width: 800px;
  width: 800px;
  height: 800px;
}

.ProfileCard_item {
  margin: 5px auto;
  text-align: center;
}

#ProfileList {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: flex-start;
  gap: 100px;
}

.ProfileList_empty {
  margin-right: auto;
  margin-left: auto;
}

.Login_createButton, .Signup_loginButton {
  width: fit-content !important;
}

/* All buttons in the site */
.FilterBar_button, .ProfileCard_button, .Profile_button, .Login_button, .Signup_button, .NewPet_button, .EditPet_button, .Login_createButton, .Signup_loginButton {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 5px 10px;
  width: 120px;
  max-height: 30px;
  font-weight: 600;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 5px 5px 0 0;
  text-decoration: none;
}

.FilterBar_button:hover, .ProfileCard_button:hover, .Profile_button:hover, .Login_button:hover, .Signup_button:hover, .NewPet_button:hover, .Login_createButton:hover, .Signup_loginButton:hover  {
  background-color: lightblue;
}

.FilterBar_button:active, .ProfileCard_button:active, .Profile_button:active, .Login_button:active, .Signup_button:active, .NewPet_button:active, .Login_createButton:active, .Signup_loginButton:active  {
  box-shadow: black 2px 2px 0 0;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  table-layout: fixed;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
}



