/*
TO-DO: pick a color scheme for the whole site
*/

body, h1 {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

*, *::before, *::after {
  box-sizing: border-box;
}


#NavBar {
  display: flex;
  width: 100%;
  min-height: 80px;
  background-color: #282c34;
}

.NavBar_header {
  display: flex;
  align-self: center;
  width: 90%;
  margin-left: 25px;
  color: white;
  font-size: 50px;
}

.NavBar_links {
  display: flex;
  align-self: flex-end;
  margin: 0 0 15px 0;
  font-size: 20px;
}

.NavBar_homeLink, .NavBar_searchLink, .NavBar_browseLink, .NavBar_loginLink {
  margin: 0 10px;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.NavBar_homeLink:hover, .NavBar_searchLink:hover, .NavBar_browseLink:hover, .NavBar_loginLink:hover {
  color: lightblue;
}

.FilterBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background-color: lightgrey;
}

.FilterBar_fieldset {
  display: flex;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.FilterBar_button, .ProfileCard_button, .Profile_button, .Login_button, .Signup_button {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
  margin: 5px 10px;
  width: 120px;
  max-height: 30px;
  font-weight: 600;
  font-size: 16px;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 5px 5px 0 0;
}

.FilterBar_typeButton:hover, .ProfileCard_button:hover, .Profile_button:hover, .Login_button:hover, .Signup_button:hover  {
  background-color: lightyellow;
  cursor: pointer;
}

.FilterBar_typeButton:active, .ProfileCard_button:active, .Profile_button:active, .Login_button:active, .Signup_button:active  {
  box-shadow: black 2px 2px 0 0;
}

.FilterBar_label {
  display: flex;
  margin: 5px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
  align-self: flex-start; /* TO-DO: Do we want it at the top or center?*/
}

.FilterBar_select {
  display: flex;
  width: 300px;
  height: 80px;
}

.FilterBar_option {
  font-size: 16px;
}

#Browse {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Browse_header {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 45%;
  border: 3px dotted black;
  border-radius: 20px;
}

.Browse_profileCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  padding: 30px;
  border: 3px dotted black;
  border-radius: 20px;
}

#ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ProfileList {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: flex-start;
  gap: 100px;
}