body, h1 {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

*, *::before, *::after {
  box-sizing: border-box;
}


#NavBar {
  display: flex;
  width: 100%;
  min-height: 80px;
  background-color: #282c34;
}

.NavBar_header {
  display: flex;
  align-self: center;
  width: 90%;
  color: white;
  font-size: 50px;
}

.NavBar_buttons {
  display: flex;
  align-self: flex-end;
  margin: 0 0 15px 0;
  font-size: 20px;
}

.NavBar_homeButton, .NavBar_searchButton, .NavBar_browseButton, .NavBar_loginButton {
  margin: 0 10px;
  padding: 0 10px;
  color: white;
  text-decoration: none;
}

.NavBar_homeButton:hover, .NavBar_searchButton:hover, .NavBar_browseButton:hover, .NavBar_loginButton:hover {
  color: lightblue;
}