<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="form.css">
    {% comment %} Initialize country code for phone input {% endcomment %}
    <link rel="stylesheet" href="https://cdn.tutorialjinni.com/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdn.tutorialjinni.com/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
 
</head>
<body>
    <div class="container">
        <form id="contact" action="" method="post">
            <h1>Adoptr Signup Form</h1>
            <div class="row">
                <div class="column">                        
                    <fieldset>
                        <input type="text" placeholder="First" name="name" required autofocus>
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Last" name="fname" required autofocus>
                    </fieldset>
                    <fieldset>
                        <input type="email" placeholder="Your email *" name="email" required autofocus>
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Phone number *" name="phone" id="phone" required autofocus>
                    </fieldset>
                </div>
                <div class="column">
                    <fieldset>
                        <label for="zipcode">Zipcode</label>
                        <div class="zipcode">
                            <input type="text" name="zipcode" pattern="[0-9]{5}" placeholder="#####" maxlength="5">
                        </div>
                    </fieldset>
                    <fieldset>
                        <p>Profile Photo</p>
                        <input type="file" id="file" required>
                    </fieldset>
                </div>
            </div>
            <fieldset>
                <button type="submit" id="button">Submit</button>
            </fieldset>
        </form>
    </div>
 
    <script>
    var input = document.querySelector("#phone");
    window.intlTelInput(input, {
     separateDialCode: true
     });
  </script>
</body>
</html>